<div id="example" hidden="hidden">


    <div id="code_example1">


color(1,1,0);
intersection();
    difference();
        union();
            push()
                translate(0, 0, -2.5);
                cube({radius={1.5, 1.5, 5},});
            pop()
            cube({radius={3, 3, 3},});
        push()
            union();
            cube({radius={5, 1, 1},});
            cube({radius={1, 5, 1},});
            cube({radius={1, 1, 5},});
        pop()
    push()
        translate(0, 0, 0.5)
        cylinder({ radius = 1, from = {-2.5,0,0}, to = {2.5,0,0}, color = {0,1,0}, });
    pop()

    </div>
    <div id="code_example2">
  difference() 
  color(0,0.5,1);
     cube({radius=3,});
     sphere({ radius = 4, color = {0,0,1}, });
    </div>
    <div id="code_example3">
        union()
    difference() 
        color(0/255,200/255,190/255);
        cube({radius=3,});
        sphere({ radius = 4, color = {1,0,1}, });

    translate(0,0,1.5)
    push()    intersection()
        sphere({ radius= 2.6, color = {1,0,1}, });
        cube({radius =2});
    pop()
    </div>
    <div id="code_example4">

	color(92/255,66/255,178/255)
 union();
     cube({radius=5,});
     push()
          push()
              rotate(3.1415/4, 0, 0) 
              cube({radius=5,});
          pop()
          push()
              rotate(0,3.1415/4, 0) 
              cube({radius=5,});
          pop()
          push()
              rotate(0, 0, 3.1415/4) 
              cube({radius=5,});
          pop()
      pop()

    </div>
    <div id="code_example5">
	function main()

        local a = CSG.cube();
        local b = CSG.sphere({ radius = 1.35, stacks = 12 });
        local c = CSG.cylinder({ radius= 0.7, ["from"] = {-1, 0, 0}, ["to"] = {1, 0, 0} });
        local d = CSG.cylinder({ radius= 0.7, ["from"] = {0, -1, 0}, ["to"] = {0, 1, 0} });
        local e = CSG.cylinder({ radius= 0.7, ["from"] = {0, 0, -1}, ["to"] = {0, 0, 1} });
        local csg_node = a:intersect(b):subtract(c:union(d):union(e));
        echo(csg_node);
	end
    </div>
    <div id="code_example6">
function main()
    local a = CSG.cube();
    local b = CSG.sphere({ radius = 1.35, stacks = 12 });
    local c = CSG.cylinder({ radius= 0.7, ["from"] = {-1, 0, 0}, ["to"] = {1, 0, 0} });
    local d = CSG.cylinder({ radius= 0.7, ["from"] = {0, -1, 0}, ["to"] = {0, 1, 0} });
    local e = CSG.cylinder({ radius= 0.7, ["from"] = {0, 0, -1}, ["to"] = {0, 0, 1} });
    a:SetColor({255,255,0});
    b:SetColor({0,255,255});
    c:SetColor({255,0,0});
    local csg_node = a:intersect(b):subtract(c:union(d):union(e));
    echo(csg_node);
    echo(c)
	end
    </div>
</div>
