<div id="example" hidden="hidden">
    <div title="sphere">
-- click `?` icon for quick guide
-- click `Examples` button for complete samples
-- Press `Ctrl+S` to save and run
sphere(1);
    </div>
    <div title="diff of cube and sphere">
difference()
    color({1,0,0});
    cube({size=3,center = true});
    color({0,0,1});
    sphere({r = 2});
    </div>
    <div title="nested booleans">
difference() 
    color({0/255,200/255,190/255});
    cube({size=3,center=true});
    color({1,0,1});
    sphere(2);

    intersection()
        color({1,0,0});
        sphere(1.3);
        color("yellow");
        cube({size=2,center = true});
    </div>
    <div title="Push and pop Sample1">
color({92/255,66/255,178/255})
union();
	cube({size=3,center=true});
	push()
	  push()
		  rotate({45, 0, 0}) 
		  cube({size=3,center=true});
	  pop()
	  push()
		  rotate({0,45, 0}) 
		  cube({size=3,center=true});
	  pop()
	  push()
		  rotate({0, 0, 45}) 
		  cube({size=3,center=true});
	  pop()
	pop()

    </div>
<div title="Push and pop Sample2">
function createCube(x,y,z,r,g,b)
   push();
    color({r,g,b})
      translate({x,y,z});
      cube();
   pop();
end

push(); 
    union();
       createCube(1,0,0,0.8,0.2,0);
       createCube(4,0,0,0,0.2,0.8);
pop();
    
    </div>
    <div title="many objects">
function f(x)
    local result =  0.5 * x + 1;
    return result;
end

function g(x)
    local result ={5 * x + 20, f(x) * f(x) - 50, 0 };
    return result
end

function creatObj1(_color)
    color(_color);
    for x =-100,100,5 do
        local y = f(x);
        push()
            translate({x,y,0}) 
            cube({size=2,center=true});
        pop()
    end
end

function creatObj2(_color)
    color(_color)
    for a = -200,200,10 do
        push()
            translate({g(a / 8)[1],g(a / 8)[2],g(a / 8)[3]}) 
            sphere(2);
        pop()
    end
end
        
creatObj1({1,0,0}); 
creatObj2({0,0,1});
    </div>
    <div title="Function sample1">
union();
function creatObj(value,_color,direction)
    color(_color);
    local x = 0;
    local y = 0;
    local z = 0;
    for k = 0,9 do
        if(direction == "y")then
            y = y + value;
        elseif(direction == "z")then 
            z = z + value;
        else
            x = x + value;
        end
        push()
            translate({x,y,z}) 
            cube();
        pop()
    end
end

 creatObj(3,{1,0,0});
 creatObj(3,{0,1,0},"y");
 creatObj(3,{0,0,1},"z");
 creatObj(-3,{1,0,0});
 creatObj(-3,{0,1,0},"y");
 creatObj(-3,{0,0,1},"z");
    </div>
	<div title="Function sample2">
function creatObj(bTranslate,bScale)
    push()
        if(bTranslate) then
            translate({6,0,0});
            if(bScale) then
                scale({2,2,2});
            end
        end
      
    	color({0,0.5,1});
        difference() ;
    	color({0,0.5,1});
    	cube({size=3,center=true});
        color({0,0,1})
    	sphere(2);
    pop()
end
creatObj();
creatObj(true,true);
	</div>
<div title="Small Temple">
local pi_2 = 6.28;
scale(1/6);
union();
push();
	color("blue");
	translate({0,200,0});
	cylinder({ h = 80, r1 = 120, r2 = 0 });
pop();
for i = 0,5 do
	push();
		color("red");
		translate({math.sin(pi_2*i/6)*80, 0, math.cos(pi_2*i/6)*80});
		cylinder({ h = 200, r = 10});
	pop();		
end
difference();
push();
	color("yellow");
	difference();
	cylinder({h = 50, r = 100});
	translate({0,10,0});
	cylinder({ h = 50, r = 80 });
pop();
color("lime");
translate({100,35,0});
cube({ size = 50, center = true, });
    
    </div>
<div title="example slow">
--wait for a moment
color({1,0,0});
intersection();
    cube({size = 2, center = true});
    difference();
        local s = sphere({ r = 1.35, fn = 50 });
        color({0,0,1},s);
        union();
            color({0,1,0});
            cylinder({ r1 = 0.7, r2 = 0.7, from = {-1,0,0}, to = {1,0,0} });
            cylinder({ r1 = 0.7, r2 = 0.7, from = {0,-1,0}, to = {0,1,0} });
            cylinder({ r1 = 0.7, r2 = 0.7, from = {0,0,-1}, to = {0,0,1} });
</div>
</div>