<div class="container-fluid">
<div class="row" >
  	<div uib-collapse="isCollapsed">
<div class="container">
	<div class="row">
        <div class=" col-md-12 ">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group" style="max-height:350px;">
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-globe"></h4><br/>Cube,Sphere,Cylinder
                </a>
				<a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon glyphicon-bold"></h4><br/>Boolean operation
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-th"></h4><br/>Transformations
                </a>      
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-grain"></h4><br/>Color
                </a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- cube section -->
                <div class="bhoechie-tab-content active">
                    cube:
                    <pre>
<code class="Lua">cube(); 
cube(1);
cube({size = 1});
cube({size = {1,2,3}});
cube({size = 1, center = true}); -- default center:false
cube({size = 1, center = {true,true,false}}); -- individual axis center true or false

local c = cube();
color("red",c);</code>                  
</pre>
                     sphere:
                    <pre>
<code class="Lua">sphere();                          
sphere(1);
sphere({r = 2});                    -- Note: center = true is default 
sphere({r = 2, center = false});    
sphere({r = 2, center = {true, true, false}}); -- individual axis center 
sphere({r = 2, fn = 100 });

local sp = sphere();
color("red",sp);</code>                  
</pre>
                     cylinder:
                    <pre>
<code class="Lua">cylinder({r = 1, h = 10});                 
cylinder({d = 1, h = 10});
cylinder({r = 1, h = 10, center = true});   -- default: center = false
cylinder({r = 1, h = 10, center = {true, true, false}});  -- individual x,y,z center flags
cylinder({r1 = 3, r2 = 0, h = 10});
cylinder({d1 = 1, d2 = 0.5, h = 10});
cylinder({from = {0,0,0}, to = {0,0,10}, r1 = 1, r2 = 2, fn = 50});

local cy = cylinder();
color("red",cy);</code>                  
</pre>
                </div>
                <!-- boolean section -->
                <div class="bhoechie-tab-content">
Boolean operations consist of union, difference, intersection, which means OR, XOR, AND, respectively. See <a href="https://en.wikipedia.org/wiki/Boolean_operations_on_polygons">Boolean operations</a> on Wikipedia.
<br/>union:
<pre><code class="Lua">union();
    cube();
    sphere();
 </code></pre>
difference:
<pre><code class="Lua">difference();
    cube();
    sphere();
 </code></pre>
intersection:
<pre><code class="Lua">intersection();
    cube();
    sphere();	
 </code></pre>	
                </div>
                <div class="bhoechie-tab-content">
translate,rotate,scale
<pre><code class="Lua">
translate({0,0,10});        --create a new parent node and set translation value 
translate({0,0,10},obj);    --set translation value with obj  

rotate(2);              --create a new parent node and set rotation value          
rotate(2,obj);          --set rotation value with obj          
rotate({1,2,3});        --create a new parent node and set rotation value          
rotate({1,2,3},obj);    --set rotation value with obj  

scale(2);           --create a new parent node and set scale value          
scale(2,obj);       --set scale value with obj          
scale({1,2,3});     --create a new parent node and set scale value          
scale({1,2,3},obj); --set scale value with obj  

  </code></pre>
                </div>
                <div class="bhoechie-tab-content">
					<p>Use push(), pop() to build a children node. pop and push are explicitly named nodes, which can be used to specify the range of commands within.</p>
<pre><code class="Lua">
color({r,g,b});     --create a new parent node and set color value 
color({r,g,b},obj);     --set color value with obj 
color(color_name);  --create a new parent node and set color value with color name
color(color_name,obj)   --set color value with obj 
  </code></pre>
                </div>
                
            </div>
        </div>
		<div align="right">
		See NPL CAD language guide on
		<a href="https://github.com/tatfook/NPLCAD/wiki">Github</a>.</div>
  </div>
</div>	
	</div>
<section id="panel" class="panel">

  <header>

	<h1>
	  NPLCAD
	</h1>
	<span id="showcode" class="showcode" >
	  <i class="glyphicon glyphicon-eye-open icon-yepcode" ></i>
	  <i class="glyphicon glyphicon-eye-close icon-nocode"></i>
	</span>
	<span id="showguide" class="showguide" ng-click="isCollapsed = !isCollapsed; ">
	  <i class="glyphicon glyphicon glyphicon-question-sign icon-question" ></i>
	</span>
  </header>
  <article>
	<div>
			
		<div class="col-lg-12" id="view_container" ></div>
			
			
		<section id="text-demo">
		
		<form id="text-options" class="col-md-7">
			<label>Filename: 
			<input 	id="wtf"	 type="text" class="filename"  placeholder="Enter Filename"/> .stl</label>
			
			<button id="saveStl" type="submit" ng-click="onSaveCode()"><i class="glyphicon glyphicon-download-alt"></i> Save</button>
		</form>
        <form id="text-options" class="col-md-5" >
                <button id="clearMesh" ng-click="clearMesh()"> <i class="glyphicon glyphicon-remove"></i> Clear</button>
			    <button type="submit" ng-click="doVoxel()"><i class="glyphicon glyphicon-th"></i> Voxel</button>
		</form>
		</section>
	</div>



	<div class="code" style="max-width:480px">
				<!-- Right side-->
		<div id="right" style="background-color:inherit; boder-style:none">
			<!-- Right top two button-->
			
				<!-- First button-->
				<div class="col-md-6">	
					<button class="largeButton" ng-click="onRunCode()"  id="runcode" ><i class="glyphicon glyphicon-play"></i>   Compile</button>
				</div>
				
				<!-- Second button-->
				<div class="col-md-6"uib-dropdown is-open="status.isopen">
				  <button class="largeButton" id="single-button" type="button"  uib-dropdown-toggle ng-disabled="disabled">
					Code example <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					<li role="menuitem" ng-click="changeEditorContent(1)"><a href="#">Example 1</a></li>
					<li role="menuitem" ng-click="changeEditorContent(2)"><a href="#">Example 2</a></li>
					<li role="menuitem" ng-click="changeEditorContent(3)"><a href="#">Example 3</a></li>
					<li role="menuitem" ng-click="changeEditorContent(4)"><a href="#">Example 4</a></li>
					<li role="menuitem" ng-click="changeEditorContent(5)"><a href="#">Example 5</a></li>
					<li role="menuitem" ng-click="changeEditorContent(6)"><a href="#">Example 6</a></li>
					<li role="menuitem" ng-click="changeEditorContent(7)"><a href="#">Example 7</a></li>
					<li role="menuitem" ng-click="changeEditorContent(8)"><a href="#">Example 8</a></li>
					<li role="menuitem" ng-click="changeEditorContent(9)"><a href="#">Example 9</a></li>
				  </ul>
				</div>
			<hr/>	
			
	<!-- Hidden Code guide -->

	<div uib-collapse="isCollapsedHorizontal">

		<div id="code_editor" >
push();
    color("red");
    union();
    cube();
    sphere();
pop();
    translate({4,0,0});
        push();
            color("green");
            difference();
            cube();
            sphere();
        pop();
        translate({4,0,0});
            push();
                color("blue");
                intersection();
                cube();
                sphere();
            pop();
		</div>
	</div>
		
	</div>

	<div class="row" style="padding-left:30px;padding-right:30px;" id="logWnd">
	</div>
	</div>

  </article>

</section>
</div>
</div>

<script>
hljs.initHighlightingOnLoad();
$(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});



</script>
