<div class="container-fluid">
<div class="row" >
<section id="panel" class="panel">

  <article>
	<div>
			
		<div class="col-lg-12" id="view_container" ></div>
			
			
		<section id="text-demo">
		<form id="text-options" class="col-md-5">
			
			<input class="col-md-5"	id="stlFile" type="file"  accept=".stl"/>			
			<button class="col-md-3" id="loadStl" type="submit" ng-click="addStl()"><i class="glyphicon glyphicon-send"></i> Add</button>
			<button class="col-md-4" id="clearMesh" ng-click="clearMesh()"> <i class="glyphicon glyphicon-remove"></i> Clear all</button>
		</form>
		<form id="text-options" class="col-md-5">
			<label>Filename: 
			<input 	id="wtf"	 type="text" class="filename"  placeholder="Enter Filename"/> .stl</label>
			
			<button id="saveStl" type="submit" ng-click="onSaveCode()"><i class="glyphicon glyphicon-download-alt"></i> Save</button>
		</form>
		</section>
				
			
	</div>



	<div class="code" style="max-width:480px">
				<!-- Right side-->
		<div id="right" style="background-color:inherit; boder-style:none">
			<!-- Right top two button-->
			
				<!-- First button-->
				<div class="col-md-6">	
					<button class="largeButton" ng-click="onRunCode()"  id="runcode" ><i class="glyphicon glyphicon-play"></i>   Compile</button>
				</div>
				
				<!-- Second button-->
				<div class="col-md-6"uib-dropdown is-open="status.isopen">
				  <button class="largeButton" id="single-button" type="button"  uib-dropdown-toggle ng-disabled="disabled">
					Code example <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					<li role="menuitem" ng-click="changeEditorContent(1)"><a href="#">Example 1</a></li>
					<li role="menuitem" ng-click="changeEditorContent(2)"><a href="#">Example 2</a></li>
					<li role="menuitem" ng-click="changeEditorContent(3)"><a href="#">Example 3</a></li>
					<li role="menuitem" ng-click="changeEditorContent(4)"><a href="#">Example 4</a></li>
					<li class="divider"></li>
					
					<li role="menuitem" ng-click="changeEditorContent(5)"><a href="#">Example 5</a></li>
					<li role="menuitem" ng-click="changeEditorContent(6)"><a href="#">Example 6</a></li>
					<li role="menuitem" ng-click="changeEditorContent(7)"><a href="#">Example 7</a></li>
				  </ul>
				</div>
			<hr/>	
			
	<!-- Hidden Code guide -->

	<div uib-collapse="isCollapsedHorizontal">

		<div id="code_editor" >
color(1,0,0);
intersection();
cube();
push()
	difference();
		sphere({ radius = 1.35, stacks = 12, color = {0,0,1}, });
	push()
		union();
		cylinder({ radius = 0.7, from = {-1,0,0}, to = {1,0,0}, color = {0,1,0}, });
		cylinder({ radius = 0.7, from = {0,-1,0}, to = {0,1,0}, color = {0,1,0}, });
		cylinder({ radius = 0.7, from = {0,0,-1}, to = {0,0,1}, color = {0,1,0}, });
	pop()
pop()
		</div>
	</div>
		
	</div>

	<div class="row" style="padding-left:30px;padding-right:30px;" id="logWnd">
	</div>
	</div>

  </article>

</section>
</div>
</div>

